Source: imx-lib
Section: libs
Priority: extra
Maintainer: Matt Sealey <matt@genesi-usa.com>
Uploaders: Steev Klimaszewski <steev@genesi-usa.com>, Konstantinos Margaritis <markos@genesi-usa.com>, Luca Barbato <lu_zero@genesi-usa.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1

Package: libvpu
Architecture: armel armhf
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: imx-firmware,${shlibs:Depends},${misc:Depends}
Provides: libvpu
Description: VPU kernel access library for i.MX5 processors

Package: libvpu-dev
Architecture: armel armhf
Multi-Arch: foreign
Depends: libvpu
Provides: libvpu-dev
Description: VPU kernel access library for i.MX5 processors
 Headers for libvpu

Package: libipu
Architecture: armel armhf
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${shlibs:Depends},${misc:Depends}
Provides: libipu
Description: IPU kernel access library for i.MX5 processors

Package: libipu-dev
Architecture: armel armhf
Multi-Arch: foreign
Depends: libipu
Provides: libipu-dev
Description: IPU kernel access library for i.MX5 processors
 Headers for libipu

Package: libipuscreenlayer
Architecture: armel armhf
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${shlibs:Depends},${misc:Depends}
Provides: libipuscreenlayer
Description: IPU Screen Layer access library for i.MX5 processors

Package: libipuscreenlayer-dev
Architecture: armel armhf
Multi-Arch: foreign
Depends: libipuscreenlayer
Provides: libipuscreenlayer-dev
Description: IPU Screen Layer access library for i.MX5 processors
 Headers for libIpuScreenLayer

Package: libsahara
Architecture: armel armhf
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${shlibs:Depends},${misc:Depends}
Provides: libsahara
Description: SAHARA2 Hardware Security Engine library for i.MX5 processors

